NEXT_PUBLIC_SITE_URL=https://portafolio-aether-commerce-dev.pickofwow.workers.dev
NEXT_PUBLIC_BRAND_NAME=Diego Fernando Martinez
NEXT_PUBLIC_STORE_URL=https://aether-storefront-dev.pickofwow.workers.dev
